.headerdiv {
    background-color: white;
    color: #2185D0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerdiv * {
    align-self: center;
    margin-left: .5vw;
    margin-right: .5vw;
}

.name {
    font-size: 25px;
    color: #2185D0;
}