.headerdiv {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerdiv * {
    align-self: center;
    margin-left: 1vw;
    margin-right: 1vw;
}